<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'todo_list_detail'  %}">Details</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Lists</h1>
            </div>
            <table>
                <thread>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
                </thread>
                <tbody>
                    {% for todo in todolist_list %}
                        <tr>
                            <td>{{ todo.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
